
.tableRow:hover {
    background-color: #cacdd3;    
}

#mainImageContainer {
    width: 450px;
    height: 340px;
    overflow: auto;
    overflow-x: hidden;
}

#mainImageContainer img {
    max-width: 450px;
}

#quick_tasks li {
    float: left;
    list-style-type: none;
    margin-top: 0pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    padding-top: 0.5em;
    padding-right: 0pt;
    padding-bottom: 0.5em;
    padding-left: 0pt;
    width: 50%;
    height: 4.5em;
}

.home_image {
    float: left;
    margin-top: 0pt;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

/* Responsive rules for small screens */
@media screen and (min-width: 240px) and (max-width: 640px) {

    /* Responsive Curve menu icon */
    .responsive_menu.garage {
        background: url(../images/garage.png) no-repeat;
        height: 16px;
        width: 16px;
        display: inline-block;
    }
}
